[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
psycopg2 = "*"
environs = "*"
django-simple-history = "*"
gunicorn = "*"
redis = "*"
django-crispy-forms = "*"
hiredis = "*"
crispy-bootstrap5 = "*"
django-import-export = "*"
tablib = {extras = ["xlsx"], version = "*"}
xhtml2pdf = "*"
django-smart-selects = "*"
django-sequences = "*"

[dev-packages]

[requires]
python_version = "3.12"
