{% load i18n %}
{% autoescape off %}

    Você está recebendo este e-mail porque você solicitou a redefinição de sua senha
    ou esqueceu seu usuário em {% if domain == '127.0.0.1:8000' %}{{ site_name }}/pdtic.{% elif domain == 'localhost' %}{{ site_name }}:1341/pdtic.{% elif domain == '10.28.10.21' %}docker-teste.sorocaba.sp.gov.br/pplc.{% elif domain == 'docker.sorocaba.sp.gov.br' %}docker.sorocaba.sp.gov.br/pplc.{% else %}não identificado{% endif %}

    Por favor, vá para a seguinte página e escolha uma nova senha:
    {% block reset_link %}
        {{ protocol }}://{% if domain == '127.0.0.1:8000' %}{{ site_name }}{% elif domain == 'localhost' %}{{ site_name }}:1341{% elif domain == '10.28.10.21' %}docker-teste.sorocaba.sp.gov.br{% elif domain == 'docker.sorocaba.sp.gov.br' %}docker.sorocaba.sp.gov.br{% else %}0.0.0.0{% endif %}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
    Seu nome de usuário, caso tenha esquecido é: {{ user.get_username }}

    Obrigado por usar a PDTIC - Gestão do Plano Diretor de TECNOLOGIA DA INFORMAÇÃO E COMUNICAÇÃO!


    Seção de Sistemas
    Prefeitura de Sorocaba
    {{ domain }}/pplc

{% endautoescape %}