{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} E-mail enviado!{% endblock %}

{% block main %}

<div class="row justify-content-center m-5">
    <div class="card col-md-8">
        <div class="card-header">
            <div class="row justify-content-center">
                <div class="col-md-2">
                    <img class="img-thumbnail" src="{% static 'img/brasao.png' %}" alt="Brasão" \>
                </div>
                <div class="col-md-10">
                    <h2 style="text-align: center;">PDTIC - Gestão do Plano Diretor de TECNOLOGIA DA INFORMAÇÃO E COMUNICAÇÃO</h2>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <h3 align="center" class="mt-5">Verifique sua caixa de entrada!</h3>
            <div class="row">
                <div class="col-md-6">
                    <p>Nós enviamos instruções para você redefinir sua senha.</p>
                    <p>Você deve receber o e-mail em breve!</p>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="{% static 'img/undraw_message_sent_re_q2kl.svg' %}" alt="Reset" \>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}