{% extends '_base.html' %}


{% block title %}
    Projetos de Tecnologia da Informação
{% endblock %}

{% block main %}
    <h2 class="heading"><a class="btn btn-light" href="{% url 'home' %}">Projetos de Tecnologia da Informação</a></h2>
        <div class="container mt-5 mb-3">
            <div class="row">
                {% for secretaria in secretarias %}
                    <div class="col-md-4">
                        <div class="card p-3 mb-2">
                            <div class="mt-5">
                                <h3 class="heading">{{ secretaria.sigla }}<br><a href="{% url 'lista_projetos_secretaria' secretaria.id %}" class="btn btn-light">{{ secretaria.nome }}</a></h3>
                                <div class="mt-5">
                                    <div class="mt-3"> <span class="text1">Projetos Cadastrados: {{ secretaria.qtd_projetos }} </span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}